<div>Je suis une ressource vue à partir de l'action show du controller</div>

<div>Nom de l'appareil :<h1> <%= @appareil.nom %></h1></div> 
<div>Caractéristiques de l'appareil : <%= @appareil.caracteristiques %></div> 
<div>Ajouté par : <%= @appareil.auteur %></div> 
